{% extends "base.html" %}

{% block title %}{{ pokemon | capfirst }}{% endblock %}  

{% block content %}
    <p>Has elegido el pokemon: <strong>{{ pokemon | capfirst }}</strong></p>
    <h3>Detalles de Pokemon</h3>
    <ul>
        <li>Nombre: {{ pokemon.name }}</li>
        <li>Tipo: {{ pokemon.type }}</li>
        <li>Peso: {{ pokemon.weight }}</li>
        <li>Altura: {{ pokemon.height }}</li>
        <li>Entrenador: {{ pokemon.trainer }}</li>
        <li>Foto: <img src="{{ pokemon.picture.url }}" alt="Foto del Pokemon"></li>
    </ul>
{% endblock %}
