{% extends "base.html" %}

{% block title %}{{ trainer.name | capfirst }}{% endblock %}

{% block content %}
    <p>Has elegido el Entrenador: <strong>{{ trainer.name | capfirst }} {{ trainer.last_name | capfirst }}</strong></p>
    <h3>Detalles del Entrenador</h3>
    <ul>
        <li>Nombre: {{ trainer.name | capfirst }}</li>
        <li>Apellido: {{ trainer.last_name | capfirst }}</li>
        <li>Nivel: {{ trainer.level }}</li>
        <li>Peso: {{ trainer.weight }}</li>
        <li>Fecha de Nacimiento: {{ trainer.birth }}</li>
        <li>Foto: <img src="{{ trainer.picture.url }}"></li>
    </ul>
{% endblock %}
